<div class="ui form">
  <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
    <div class="field">
      <label>Name</label>
      <input
        type="text"
        name="item-name"
        placeholder="Name"
        required
        [(ngModel)]="item.name"
        name="name">
    </div>
    <div class="field">
      <label>Amount</label>
      <input
        type="text"
        name="item-amount"
        placeholder="Amount"
        required
        [(ngModel)]="item.amount"
        name="amount">
    </div>
    <button class="ui button blue" *ngIf="isAdd" [disabled]="!f.valid">Add</button>
    <button class="ui button blue" *ngIf="!isAdd">Save</button>
    <button class="ui button red" *ngIf="!isAdd" (click)="onDelete()">Delete Item</button>
    <button class="ui button teal" *ngIf="!isAdd" (click)="onClear()">Clear</button>
  </form>
</div>
